@media (max-width: 768px)
{
	.container {
		max-width: 960px;

	}
}
@media (min-width: 768px)
{
	.container {
		max-width: 900px;
	}
}



.form-settings {
	margin-bottom: 50px;
}

legend {
	font-size: 1.2rem;
	/*font-weight: bold;*/
	margin-bottom: .7rem;
	text-align: center;
}