.date.current, .weekday.current, .user {
	font-weight: bold;
}

.not-current, .empty {
	background-color: rgba(204, 204, 204, 0.1);
}

.offday {
	background-color: grey;
	outline: 1px solid grey;
	outline-offset: -1px;
}
.halfday {
	background: repeating-linear-gradient(
		-45deg,
		transparent,
		transparent 8%,
		grey 8%,
		grey 10%,
		transparent 10%,
		transparent 18%,
		grey 18%,
		grey 20%,
		transparent 20%,
		transparent 28%,
		grey 28%,
		grey 30%,
		transparent 30%,
		transparent 38%,
		grey 38%,
		grey 40%,
		transparent 40%,
		transparent 48%,
		grey 48%,
		grey 50%,
		transparent 50%,
		transparent 58%,
		grey 58%,
		grey 60%,
		transparent 60%,
		transparent 68%,
		grey 68%,
		grey 70%,
		transparent 70%,
		transparent 78%,
		grey 78%,
		grey 80%,
		transparent 80%,
		transparent 88%,
		grey 88%,
		grey 90%,
		transparent 90%,
		transparent 98%,
		grey 98%,
		grey 100%
	);
}

.day {
	min-height: 30px;
	min-width: 30px;
	color: #212429;
	font-size: 1em;
	font-weight: 600;
}

@media (max-width: 576px) {
	.day {
		min-height: 30px;
		width: 50px;
	}
}

.day.current, .day.not-current {
	cursor: pointer;
	transition: all .05s;
}
.day.current:hover, .day.not-current:hover {
	outline: 2px solid cornflowerblue;
	/*outline-offset: 0px;*/
}

.day.current.offday:hover, .day.not-current.offday:hover {
	outline: 3px solid cornflowerblue;
	/*outline-offset: -1px;*/
}

.clicked {
	outline: 2px solid cornflowerblue;
	outline-offset: -1px;
	box-shadow: 0px 0px 2px 2px rgba(100, 149, 247 , 1);
	z-index: 1000;
}


/* Container */

.col-12.col-sm-6 {
	padding-top: 10px;
}

@media (max-width: 1200px) {
	.container {
		max-width: none;
	}
}
@media (min-width: 1200px) {
	.container {
		max-width: 1400px;
	}
}
@media (min-width: 1000px) {
	.table td:first-child {
		width: 220px;
	}
}

/* End Container */

/*	Table */
.table {
	border-collapse:separate;
}

.table td {
	text-align: center;
	padding: 1px;
	vertical-align: middle;
	margin: 0;
	position: relative;
}

.table td:first-child {
	text-align: left;
}

/*	End Table */

/* Selector */

#selector {
	position: absolute;
	display: none;
	justify-content: space-around;
	width: 300px;
	border: 3px solid cornflowerblue;
	padding: 6px;
	border-radius: 20px;
	/*box-shadow: 0px 0px 2px 2px rgba(100, 149, 247 , 1),*/
				/*!*inset 0px 0px 1px 1px rgba(100, 149, 247 , 1),*!*/
				/*!*inset 0px 0px 1px 0px rgba(100, 149, 247 , 1),*!*/
							/*0px 0px 1px 0px rgba(100, 149, 247 , 1);*/
	background-color: white;
}
#selector img {
	width: 40px;
	cursor: pointer;
	transition: all .1s;
}

#selector img:hover {
	filter:
		invert(54%)
		sepia(63%)
		saturate(1818%)
		hue-rotate(197deg)
		brightness(100%)
		contrast(85%);
}
/* End Selector */

.btn-primary {
	background-color: #387fed;
	border-color: #387fed;
}