.nav {
	display:flex;
}

.nav form {
	display: none;
}

.menu {
	display: flex;
	align-items: center;
	justify-content: center;
}

.menu div {
	margin: 15px 10px 10px 10px;
}

.generate {
	display: none;
}

.personal {
	display: flex;
	justify-content: flex-end;
}







